<form name="request_quote" enctype="multipart/form-data" method="post" action="/thank-you/">
    <div class="visually-hidden">
        <label for="_subject">New form submission from The Island Engineer quote request</label>
        <input aria-label="subject" id="_subject" name="_subject" value="New form submission from The Island Engineer quote request"/>
    </div>
    <h2>Request a Quote</h2>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
                <label for="first_name">First Name *</label>
                <input name="First Name" id="first_name" type="text" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="last_name">Last Name *</label>
                <input name="Last Name" id="last_name" type="text" class="contact-form__form-control" required>
            </div>
        </div>
    </div>
    <div class="contact-form__form-row">
        <div class="contact-form__row-wrapper">
            <div class="contact-form__form-group">
                <label for="email">Email *</label>
                <input name="email" id="email" type="email" class="contact-form__form-control" required>
            </div>
            <div class="contact-form__form-group">
                <label for="phone">Phone *</label>
                <input name="Phone" id="phone" type="tel" class="contact-form__form-control" required>
            </div>
        </div>
    </div>  
    <div class="contact-form__form-group contact-form__form-group--checkbox">
        <label for="services">Services Required:</label><br>
        <input type="checkbox" id="soil_testing" name="services" value="Soil Testing">
        <label for="soil_testing">Soil Testing</label><br>
        <input type="checkbox" id="wind_rating" name="services" value="Wind Rating">
        <label for="wind_rating">Wind Rating</label><br>
        <input type="checkbox" id="geotechnical_services" name="services" value="Geotechnical Services">
        <label for="geotechnical_services">Geotechnical Services</label><br>
        <input type="checkbox" id="foundation_design" name="services" value="Foundation Design">
        <label for="foundation_design">Foundation Design</label><br>
        <input type="checkbox" id="retaining_wall_design" name="services" value="Retaining Wall Design">
        <label for="retaining_wall_design">Retaining Wall Design</label><br>
        <input type="checkbox" id="structural_design" name="services" value="Structural Design">
        <label for="structural_design">Structural Design</label><br>
        <input type="checkbox" id="certify_existing_design" name="services" value="Certify Existing Design">
        <label for="certify_existing_design">Certify Existing Design</label>
    </div>
    <div class="contact-form__form-group">
        <label for="message">Message *</label>
        <textarea name="Message" id="message" class="contact-form__form-control" rows="4" required></textarea>
    </div>
    <input type="hidden" name="inbox_key" value="inbox-key">
    <input type="text" name="_gotcha" class="visually-hidden" aria-label="gotcha">
    <div class="h-captcha" data-sitekey=""></div>
    <br>
    <button type="submit" class="contact-form__btn btn btn--primary">Request a Quote</button>
</form>
