<div class="block bg-{{ .background_color }}">
    <div class="testimonial testimonial--full wrapper-md flow">
        <div class="testimonial__icon margin-inline-auto icon-xxl icon-fill-primary">
            <svg width="45" height="41" viewBox="0 0 45 41" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.65 40.15C0.65 37.75 0.65 35.35 0.65 32.95C0.65 30.45 0.65 28 0.65 25.6C0.65 17.9 1.75 11.85 3.95 7.44999C6.15 3.05 10 0.749995 15.5 0.549992L18.35 6.4C15.25 6.69999 13.1 8.19999 11.9 10.9C10.8 13.5 10.25 17.65 10.25 23.35H18.2V40.15H0.65ZM27.05 40.15C27.05 37.75 27.05 35.35 27.05 32.95C27.05 30.45 27.05 28 27.05 25.6C27.05 17.9 28.15 11.85 30.35 7.44999C32.55 3.05 36.4 0.749995 41.9 0.549992L44.75 6.4C41.65 6.69999 39.5 8.19999 38.3 10.9C37.2 13.5 36.65 17.65 36.65 23.35H44.6V40.15H27.05Z"></path>
            </svg>
        </div>
          
          <!-- ////////reviews////////// -->
          <section class="reviews-section">
            <div class="container flow">
          
              <div id="reviews" class="flow"></div>
              <a href="https://g.page/r/CQ0h68wTMpnLEBM/review" class="btn btn--primary" target="_blank" rel="noopener noreferrer">Leave a Review</a>
          
              <!-- /////////we're hiding this map///////// -->
              <div id="map"></div>
              <script async defer
                src="https://maps.googleapis.com/maps/api/js?key={{ .googlemaps_api_key }}&libraries=places&callback=initReviews">
              </script>
              <script>
                function initReviews() {
                    function stargetter(starso) {
                        let starsHTML = '';
                        for (let i = 0; i < 5; i++) {
                            if (i < starso) {
                            starsHTML += '<span>&#9733;</span>&nbsp;';
                            } else {
                            starsHTML += '<span>&#9734;</span>&nbsp;';
                            }
                        }
                        return starsHTML;
                    }   
          
                  const reviewbox = document.getElementById('reviews');
                  const map = new google.maps.Map(document.getElementById('map'), {
                    center: {lat: -27.6122617, lng: 153.3390591},
                    zoom: 15
                  });
          
                  const request = {
                    placeId: '{{ .placeid }}',
                    fields: ['name', 'formatted_address', 'place_id', 'geometry', 'reviews']
                  };
          
                  var service = new google.maps.places.PlacesService(map);
          
                  service.getDetails(request, function(place, status) {
                    console.log(place.reviews);
                    
                    let i;
                    for (i = 0; i < place.reviews.length; i++) {
                        reviewbox.innerHTML += 
                        '<div class="column is-one-third reviewcard .mt-8">' +
                            '<div class="review-header .mt-8">' +
                            '<img src="' + place.reviews[i].profile_photo_url + '" alt="Profile photo" class="profile-photo">' +
                            '<div class="review-metadata">' +
                                '<p class="authortitle">' + place.reviews[i].author_name + '</p>' +
                                '<div class="review-stars-time">' +
                                '<div class="stars">' + stargetter(place.reviews[i].rating) + '</div>' +
                                '<div class="time-description">' + place.reviews[i].relative_time_description + '</div>' +
                                '</div>' +
                            '</div>' +
                            '</div>' +
                            '<div class="reviewtext matchy">' + place.reviews[i].text + '</div>' +
                        '</div>';
                    }
                    
                  });
                }
              </script>
          
            </div>
            

          </section>          
        <!-- /////////end reviews///////// -->
    </div>
</div>
  