.contact-form__row-wrapper {
  display: flex;
  flex-direction: column;

  @include breakpoint(md) {
    flex-direction: row;

    .contact-form__form-group {
      flex: 50%;
    }

    .contact-form__form-group:nth-of-type(2) {
      padding-left: 1rem;
    }
  }
}

.contact-form__form-group {
  &--checkbox {
    display: flex;
    flex-direction: column;
    margin-bottom: $ic-100; // Adjust as needed for spacing

    label {
      margin-right: $ic-200; // Adjust as needed for space between the label and checkbox
    }

    input[type="checkbox"] {
      width: $ic-200; // Ensure checkbox doesn't take full width
      margin: auto;
      margin-right: $ic-500; // Adjust space between checkbox and label
    }

    .checkbox-label-group {
      display: flex;
      margin-bottom: $ic--100;
      align-items: center;
      margin-right: auto;

      label {
        margin-right: $ic-300; // Adjust spacing between label and checkbox
        flex: 1; // Allow label to wrap if needed
      }

      input[type="checkbox"] {
        flex: 0 0 auto; // Prevent checkbox from stretching
        width: $ic-200; // Set a fixed width for the checkbox
        height: $ic-200; // Set a fixed height for the checkbox
        margin-right: $ic-500; // Adjust space between checkbox and label
      }
    }
  }
}

.contact-form__form-group label {
  font-weight: 700;
}

.contact-form__btn {
  border: none;
}

.contact-form__form-group input,
.contact-form__form-group textarea,
.contact-form__form-group select {
  border: 1px solid $black;
  border-radius: $radius;
  inline-size: 100%;
  padding: $ic-100 $ic-200;
  margin-bottom: $ic-100;
  block-size: $ic-700;

  &:focus {
    outline: 2px solid $primary-color;
  }
}

.contact-form__form-group textarea {
  block-size: $ic-1000;
}

form.hidden {
  display: none;
}