.footer__logo-wrap {
  max-inline-size: 200px;
}

.footer a {
  color: $black;
  transition: $transition;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

.footer .btn--primary {
  color: $white !important;
  margin-bottom: $ic-200; // Ensures spacing between the button and the next element
}

.footer__nav-item {
  list-style-type: none;
  margin-top: 0;
  line-height: 2; // Increased line height for better tap targets

  @include breakpoint(md) {
    line-height: 1.5; // Return to normal line height on desktop
  }
}

.footer__copyright {
  font-size: $ic--100;
  padding: $ic-100 0;

  @include breakpoint(md) {
    .footer__credits {
      margin-left: auto;
    }
  }
}

.footer__nav,
.footer__copyright-nav {
  margin: 0;
  padding: 0;
}

.footer__copyright-item {
  list-style-type: none;
  margin: $ic-100;

  @include breakpoint(md) {
    margin: 0 0 0 $ic--100;
  }
}

.footer .contact-form input {
  margin-bottom: 0;
  block-size: $ic-600;
}

.footer__address-item,
.footer__phone-item {
  line-height: 2; // Double line height for better tap targets on mobile

  @include breakpoint(md) {
    line-height: 1.5; // Return to normal line height on desktop
  }
}

// New styles for uniform spacing

// Add spacing for headings in the footer
.footer h2 {
  margin-bottom: $ic-200; // Adjust as needed for desired spacing
}

// Add spacing for paragraphs in the footer
.footer p {
  margin-bottom: 0; // Adjust as needed for desired spacing
}

// Specific adjustment for the "Connect With Us" section
.footer .footer__social {
  margin-top: $ic-300; // Ensures spacing between the review paragraph and social icons
}